@model IEnumerable<BaseDeDatosWarioSoft.Models.Competition>

        @{
            ViewBag.Title = "Index";
        }

        <h2>Competencias</h2>

        <p>
            @Html.ActionLink("Crear nueva competencia", "Create", new { }, new { @class = "btn btn-success" })
        </p>
        <div class="table-responsive">

            <table class="table table-condensed" style="border-radius: 6px; background-color: #2999a5">
                <thead>
                    <tr>
                        <th>
                            <center>@Html.DisplayNameFor(model => model.LearningOutcome.Description)</center>
                        </th>
                        <th>
                            <center>@Html.DisplayNameFor(model => model.Phases.name)</center>
                        </th>
                        <th>
                            <center>@Html.DisplayNameFor(model => model.CodeCompetition)</center>
                        </th>
                        <th>
                            <center>@Html.DisplayNameFor(model => model.RouteCompetition)</center>
                        </th>
                        <th>
                            <center>@Html.DisplayNameFor(model => model.Description)</center>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                    @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.LearningOutcome.Description)</center>
                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.Phases.name)</center>
                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.CodeCompetition)</center>
                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.RouteCompetition)</center>
                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.Description)</center>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCompetition }, new { @class = "btn btn-warning btn-xs btn-block" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdCompetition }, new { @class = "btn btn-info btn-xs btn-block" })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.IdCompetition }, new { @class = "btn btn-danger btn-xs btn-block" })
                </td>
            </tr>
}


            </table>
            </div>

