@model IEnumerable<Tidsplan.Models.Disponibility>

@{
    ViewBag.Title = "Disponibilidad";
}

<h2>Disponibilidad</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.documentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lunes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.martes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miercoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jueves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viernes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sabado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domingo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.documentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lunes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.martes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miercoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jueves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viernes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sabado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domingo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idDisponibility }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Detalles", "Details", new { id = item.idDisponibility }, new { @class = "btn btn-info" })  
            @Html.ActionLink("Borrar", "Delete", new { id=item.idDisponibility }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
