@model IEnumerable<EON.Models.Ficha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusFicha.name_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_Ficha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusFicha.name_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_Ficha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Ficha }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Ficha }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Ficha }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
