@model IEnumerable<Tidsplan.Models.Group>

@{
    ViewBag.Title = "Grupo";
}

<h2>Grupo</h2>



@using (Html.BeginForm())
{ 
    
    <p>
        Buscar por: @Html.TextBox("SearchString")
        <input  type="submit"  value="Buscar" class="success"/>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
  
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stateGroup.nameState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toUpper)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stateGroup.nameState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toUpper)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.groupID }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Detalles", "Details", new { id = item.groupID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.groupID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
