@model IEnumerable<BaseDeDatosWarioSoft.Models.TypeDocument>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de documentos</h2>

<p>
    @Html.ActionLink("Crear nuevo tipo de documento", "Create", new { }, new { @class = "btn btn-success" })
</p>
<div class="table-responsive">
    <table class="table table-condensed" style="border-radius: 6px; background-color: #2999a5">

        <thead>
    
                <tr>
                    
                        <th>
                            <center>  @Html.DisplayNameFor(model => model.NameTP)</center></th>
                        <th>
                            <center> @Html.DisplayNameFor(model => model.Description)</center>
                        </th>
</tr>
            </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <center> @Html.DisplayFor(modelItem => item.NameTP)</center></td>
                <td>
                    <center>  @Html.DisplayFor(modelItem => item.Description)</center></td>
                <td>
                    <center>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdTypeDocument }, new { @class = "btn btn-warning btn-xs btn-block" }) 
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdTypeDocument }, new { @class = "btn btn-info btn-xs btn-block" }) 
                        @Html.ActionLink("Borrar", "Delete", new { id = item.IdTypeDocument }, new { @class = "btn btn-danger btn-xs btn-block" })
                    </center>
                </td>
            </tr>
        }

    </table>


   
    </div>