@model ChronoOfTime.Models.LinkUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinkUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typeLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLinkUp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
