@model IEnumerable<EON.Models.Ambience>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-info" })
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headquarters.name_Headquarters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_Ambience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headquarters.name_Headquarters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_Ambience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Ambience }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Ambience }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Ambience }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
