@model IEnumerable<ChronoOfTime.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDDocument }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDDocument }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDDocument })
        </td>
    </tr>
}

</table>
