@model EON.Models.Availability

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Availability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.workingDay.acronyms_Working_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workingDay.acronyms_Working_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAvailability }) |
    @Html.ActionLink("Back to List", "Index")
</p>
