@model IEnumerable<EON.Models.Program>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.programVersion.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trainingLevel.training_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.programVersion.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trainingLevel.training_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Program }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Program }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Program })
        </td>
    </tr>
}

</table>
